	<!DOCTYPE>
	<head>
		<meta charset="UTF-8">
		<title>Home Page</title>
		<link rel="stylesheet" href="/css/stylesheet.css">
		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/bootstrap-social.css">
		<link rel="stylesheet" href="/css/font-awesome.css">	
		<script src="/js/jquery.min.js"></script>
		<!-- <script type="text/javascript" src="/js/facebook.js"></script> -->
	  	<script type="text/javascript" src="/js/g+.js"></script>
	  	<script type="text/javascript" src="/js/render.js"></script>
	</head>
	<body>
		<script src="http://d3js.org/d3.v3.min.js"></script>
		
		<div id="communitiesBar">
<!-- 			<button id="facebook_login_button" class="btn btn-social-icon btn-lg btn-facebook" onclick="FB_login()">
				<i class="fa fa-facebook"></i>
			</button>
			<button id="facebook_logout_button" style="display:none" onclick="FB_logout()">FB Logout</button>  -->
			
			<button id="google_logout_button" style="display:none" onclick="G_logout()">G Logout</button> 
			<span id="google_login_button">
			  <span
			    class="g-signin"
			    data-callback="G_login"
			    data-clientid="85474813662.apps.googleusercontent.com"
			    data-cookiepolicy="single_host_origin"
			    data-requestvisibleactions="http://schemas.google.com/AddActivity"
			    data-scope="https://www.googleapis.com/auth/plus.login">
			  </span>
			</span>
			<button id="google_logout_button" style="display:none" onclick="G_logout()">G Logout</button> 
		</nav>
	  
	  	<!-- <div id="fb-root"></div> -->
		

	  
<!-- 	  	<button id="createFBGraph_button" style="display:none" onclick="createFBGraph()" hidden="true">createFBGraph</button> -->
	  	<button id="createGGraph_button" style="display:none" onclick="createGGraph()" hidden="true">createG+Graph</button>
<!-- 		<div id="facebook-friends"></div> -->
		<div id="g+-friends"></div>
	</body>