	<!DOCTYPE>
	<head>
		<meta charset="UTF-8">
		<title>Home Page</title>
		<link rel="stylesheet" href="/css/stylesheet.css">
	</head>
	<body>

		<div id="communitiesBar">
			<img src="http://hayageek.com/examples/oauth/facebook/oauth-javascript/LoginWithFacebook.png" width="200" style="cursor:pointer;" onclick="FB_login()"/>
			<button id="logout_button" style="display:none" onclick="FB_logout()" >Logout</button> 
		</nav>
	  
	  	<div id="fb-root"></div>
		
	  	<script type="text/javascript" src="/js/facebook.js"></script>
	  	<script type="text/javascript" src="/js/render.js"></script>
	  
	  	<button id="createGraph_button" style="display:none" onclick="createGraph()" hidden="true">createGraph</button>
		<div id="facebook-friends"></div>
	</body>